.card{
    max-width: 400px;
    max-height: 400px;
    background: gold;
    margin:  10px  auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px ;
    margin-bottom: 50px;
}
.titles{
    font-size: 33px;
   
}