.container{
    max-width: 600px;
    min-height: 400px;
    margin:  100px auto 0;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    
}
.title{
    padding: 2px 100px;
    border-radius: 30px;
    background: rgb(203, 169, 237);
     border: 1px solid skyblue;
    font-size: 42px;
    &:hover{
        transform: scale(1.2) ;
        border: 1px solid skyblue;
        background: none;
        color: #fff;
    }
    
}
.btn{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
   
}
.inc{
     padding: 9px 30px;
    border-radius: 30px;
    background: skyblue;
     border: 1px solid skyblue;
    font-size: 20px;
    &:hover{
        transform: scale(1.2);
        border: 1px solid skyblue;
        background: none;
        color: #fff;
}
}
.rest{
     padding: 9px 30px;
    border-radius: 30px;
    background: red;
     border: 1px solid red;
     color: #fff;
    font-size: 20px;
    &:hover{
        transform: scale(1.2);
        border: 1px solid skyblue;
        background: none;
        color: #fff;
}
}
.dec{
     padding: 9px 30px;
    border-radius: 30px;
    background: skyblue;
     border: 1px solid skyblue;
    font-size: 20px;
    &:hover{
        transform: scale(1.2);
        border: 1px solid skyblue;
        background: none;
        color: #fff;
}
}
